<body>
    <h1>OpsGenie Alert</h1>
    <p>*Alert ID*: {{.Alert.Id}}</p>
    <p>*Alert Title*: {{.Alert.Title}}</p>
    <p>*Alert Message*: {{.Alert.Message}}</p>
    <p>*Alert Tenant*: {{.TenantName}}</p>
    <p>*Alert Functionality*: {{.Alert.Functionality}}</p>
    <p>*Alert Functionality Entity Name*: {{.Alert.FunctionalityEntityName}}</p>
    <p>*Alert Functionality Type*: {{.Alert.FunctionalityType}}</p>
    <p>*Alert Functionality Entity ID*: {{.Alert.FunctionalityEntityId}}</p>
    <p>*Alert Criticality*: {{.Alert.Criticality}}</p>
    <p>*Alert AlertType*: {{.Alert.AlertType}}</p>
    <p>*Alert LastObservedAt*: {{.Alert.LastObservedAt}}</p>
    <p>*Alert Dismissed*: {{.Alert.Dismissed}}</p>
    <p>*Alert CreatedAt*: {{.Alert.CreatedAt}}</p>
    <p>*Alert UpdatedAt*: {{.Alert.UpdatedAt}}</p>
    <p>*Alert FirstObservedAt*: {{.Alert.FirstObservedAt}}</p>
    <p>*Alert UpdatedBy*: {{.Alert.UpdatedBy}}</p>
    <p>*Alert DataPlaneId*: {{.Alert.DataPlaneId}}</p>
    <p>*Alert ErrorMessage*: {{.Alert.ErrorMessage}}</p>
    <p>*Alert ErrorCode*: {{.Alert.ErrorCode}}</p>
</body>